body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiDataGrid-colCellTitle {
  overflow: visible !important;
  text-overflow: unset !important;
  white-space: normal !important;
}
.MuiDataGrid-columnsContainer {
}
/* thead {
  display: block;
}
tbody {
  overflow-y: scroll;
  height: 500px;
}

td, th {
  width: 200px;
}
 */


.tableFixHead{ 
  overflow: auto; height: 100%;
}
.tableFixHead thead th {
   position: sticky; top: 0; z-index: 1; 
  }
table  { 
  border-collapse: collapse; width: 100%; 
}